<!doctype html>
<footer class="footer-wrapper">
  <div id='contact' class="newsletter-slug">
    <h2>contact</h2>
    <p>get in touch</p>
  </div>
  <div class="footer-social-links">
    <a href="mailto:{{ site.email }}" class="social-icon-wrap footer-email-wrapper"></a>
    <a href="{{ site.medium_username }}" target="_blank" class="social-icon-wrap footer-medium-wrapper"></a>
    <a href="{{ site.github_username }}" target="_blank" class="social-icon-wrap footer-github-wrapper"></a>
  </div>
</footer>
