<!doctype html>
<nav class="nav-wrap">
  <a href="{{ site.baseurl }}/" class="nav-logo">
    <?xml version="1.0" encoding="utf-8"?>
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="294px" height="294px" viewBox="0 0 294 294" enable-background="new 0 0 294 294" xml:space="preserve">
      <polygon fill="#BDD0E4" points="0,294 294,0 0,0 "/>
      <polygon fill="#F4DCC5" points="0,294 294,294 294,0 "/>
      <polyline fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" points="63,75 63,190 247.604,190.062 "/>
      <path fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" d="M63,150c0,0,11.662-35.667,21.662-35.667
        S102.996,150,112.996,150s23-35.667,37.334-35.667c14.332,0,33.332,35.667,50.332,35.667S242,126.667,242,126.667"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="70" y1="133" x2="70" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="77" y1="190" x2="77" y2="120"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="86" y1="115" x2="86" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="95" y1="125" x2="95" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="105" y1="143" x2="105" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="115" y1="150" x2="115" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="125" y1="139" x2="125" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="136" y1="125" x2="136" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="147" y1="115" x2="147" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="159" y1="118" x2="159" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="172" y1="130" x2="172" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="186" y1="143" x2="186" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="202" y1="150" x2="202" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="219" y1="144" x2="219" y2="190"/>
      <line fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" x1="235" y1="133" x2="235" y2="170"/>
      <polyline fill="none" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" points="57,80.667
        63,73.333 68.875,80.667 "/>
      <polyline fill="none" stroke="#FFFFFF" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" points="240.271,184.062
      	247.604,190.062 240.271,195.938 "/>
    </svg>
  </a>
  <ul class="navigation">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
  </ul>

  <!-- Mobile navigation -->
  <div class="nav-toggle-open-wrapper">
    <?xml version="1.0"?>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
      <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
    </svg>
  </div>
  <div class="nav-toggle-body-overlay"></div>
  <div class="toggled-nav-wrapper">
    <div class="nav-toggle-close-wrapper">
      <?xml version="1.0"?>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
        <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 4.9902344 3.9902344 A 1.0001 1.0001 0 0 0 4.2929688 5.7070312 L 10.585938 12 L 4.2929688 18.292969 A 1.0001 1.0001 0 1 0 5.7070312 19.707031 L 12 13.414062 L 18.292969 19.707031 A 1.0001 1.0001 0 1 0 19.707031 18.292969 L 13.414062 12 L 19.707031 5.7070312 A 1.0001 1.0001 0 0 0 18.980469 3.9902344 A 1.0001 1.0001 0 0 0 18.292969 4.2929688 L 12 10.585938 L 5.7070312 4.2929688 A 1.0001 1.0001 0 0 0 4.9902344 3.9902344 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
      </svg>
    </div>
    <div class="internal-nav-links-wrapper">
      <a href="{{ site.baseurl }}/" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Home</h5><small>Short bio and CV</small></div><div class="internal-link-icon internal-link-icon-home"></div></a>
      <a href="{{ site.baseurl }}/blog" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Blog</h5><small>My articles on Medium</small></div><div class="internal-link-icon internal-link-icon-blog"></div></a>
    </div>
    <hr />
    <div class="external-nav-links-wrapper">
      <a href="mailto:{{ site.email }}" class="external-link-wrapper"><h6>Email</h6><div class="external-link-icon external-link-icon-email"></div></a>
      <a href="{{ site.medium_username }}" target="_blank" class="external-link-wrapper"><h6>Medium</h6><div class="external-link-icon external-link-icon-medium"></div></a>
      <a href="{{ site.github_username }}" target="_blank" class="external-link-wrapper"><h6>Github</h6><div class="external-link-icon external-link-icon-github"></div></a>
    </div>
  </div>
</nav>
