<!doctype html>
<nav class="nav-wrap">
  <a href="{{ site.baseurl }}/" class="nav-logo">
      <?xml version="1.0" encoding="utf-8"?>
      <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="294px"
      	 height="294px" viewBox="0 0 294 294" enable-background="new 0 0 294 294" xml:space="preserve">
      	<polygon fill="#BCD0E4" points="0,294 294,0 0,0 	"/>
      	<polygon fill="#F7DDC4" points="0,294 294,294 294,0 	"/>
      	<path fill="#FFFFFF" d="M70.407,71.756l4.996,50.528l39.008-43.196l4.317,58.108l34.799-36.833l19.78,6.809l-68.313,68.401
      		l-4.333-56.534l-38.443,41.812L50.55,64.923L70.407,71.756z"/>
      	<path fill="#FFFFFF" d="M165.756,146.71c3.8-11.041,10.982-19.073,21.55-24.099c10.565-5.025,21.527-5.584,32.882-1.676
      		c11.407,3.927,19.745,11.156,25.016,21.69c5.166,10.498,5.795,21.425,1.888,32.779c-3.944,11.459-11.2,19.701-21.767,24.726
      		c-10.601,4.954-21.684,5.442-33.247,1.462c-11.459-3.943-19.712-11.173-24.754-21.687
      		C162.243,169.497,161.722,158.432,165.756,146.71z M183.7,153.237c-2.63,7.64-2.668,14.386-0.118,20.238
      		c2.638,5.941,7.383,10.09,14.238,12.45c6.907,2.376,13.192,2.053,18.857-0.973c5.664-3.024,9.775-8.252,12.333-15.684
      		c2.558-7.429,2.534-14.08-0.068-19.95c-2.639-5.94-7.384-10.091-14.237-12.45c-6.752-2.323-12.994-1.955-18.729,1.104
      		C190.241,141.033,186.149,146.121,183.7,153.237z"/>
      	<polygon fill="#FFFFFF" points="50,204 166,204 50,165 	"/>
      </svg>
  </a>
  <ul class="navigation">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/resume">Resume</a></li>
    <li><a href="#contact">Contact</a></li>
    <!-- not used at this point in time
    <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
    -->
  </ul>

  <!-- Mobile navigation -->
  <div class="nav-toggle-open-wrapper">
    <?xml version="1.0"?>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
      <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 3 5 A 1.0001 1.0001 0 1 0 3 7 L 21 7 A 1.0001 1.0001 0 1 0 21 5 L 3 5 z M 3 11 A 1.0001 1.0001 0 1 0 3 13 L 21 13 A 1.0001 1.0001 0 1 0 21 11 L 3 11 z M 3 17 A 1.0001 1.0001 0 1 0 3 19 L 21 19 A 1.0001 1.0001 0 1 0 21 17 L 3 17 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
    </svg>
  </div>
  <div class="nav-toggle-body-overlay"></div>
  <div class="toggled-nav-wrapper">
    <div class="nav-toggle-close-wrapper">
      <?xml version="1.0"?>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
        <path style="line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal" d="M 4.9902344 3.9902344 A 1.0001 1.0001 0 0 0 4.2929688 5.7070312 L 10.585938 12 L 4.2929688 18.292969 A 1.0001 1.0001 0 1 0 5.7070312 19.707031 L 12 13.414062 L 18.292969 19.707031 A 1.0001 1.0001 0 1 0 19.707031 18.292969 L 13.414062 12 L 19.707031 5.7070312 A 1.0001 1.0001 0 0 0 18.980469 3.9902344 A 1.0001 1.0001 0 0 0 18.292969 4.2929688 L 12 10.585938 L 5.7070312 4.2929688 A 1.0001 1.0001 0 0 0 4.9902344 3.9902344 z" font-weight="400" font-family="sans-serif" white-space="normal" overflow="visible"/>
      </svg>
    </div>
    <div class="internal-nav-links-wrapper">
      <a href="{{ site.baseurl }}/" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Home</h5><small>About me</small></div><div class="internal-link-icon internal-link-icon-home"></div></a>
      <a href="{{ site.baseurl }}/resume" class="internal-link-wrapper"><div class="link-titles-wrapper"><h5>Resume</h5><small>Short bio and work experience</small></div><div class="internal-link-icon internal-link-icon-blog"></div></a>
    </div>
    <hr />
    <div class="external-nav-links-wrapper">
      <a href="mailto:{{ site.email }}" class="external-link-wrapper"><h6>Email</h6><div class="external-link-icon external-link-icon-email"></div></a>
      <!-- not used at this point in time
      <a href="{{ site.medium_username }}" target="_blank" class="external-link-wrapper"><h6>Medium</h6><div class="external-link-icon external-link-icon-medium"></div></a>
      -->
      <a href="{{ site.github_username }}" target="_blank" class="external-link-wrapper"><h6>Github</h6><div class="external-link-icon external-link-icon-github"></div></a>
    </div>
  </div>
</nav>
